body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(0, 183, 255);
}
    .card{
        margin-right: 50px;
        @media (max-width:1160px) {
            margin-right: 0;
        }
        width: 300px;
        color: white;
        h1{
            display: flex;
            justify-content: center;
            text-transform: uppercase;
        }
        &__box{
            border: 2px solid white;
            padding: 60px;
            position: relative;
            .line{
                position: absolute;
                top:20px;
                left:20px;
                width: 50px;
                height: 2px;
                background: white;
            }
            button{
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 7px 10px;
                border-radius: 15px;
                font-size:1.3rem;
                border: 1px solid white;

            }
        }
    }
.css{
    button{
        border-radius: 0;
        background: #09313f;
        color:white;
        border:0;
        text-transform: uppercase;
    }

}
.javascript{
    button{
        border-radius: 0;
        background: #09313f;
        color:white;
        border:0;
        text-transform: uppercase;
        
    }
}
button{
    cursor: pointer;
    .modal{
        display: none;
        top:-300px;
    }
}
.clicked{
    .modal{
        display: block;
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right: 0;
        background: rgb(25, 89, 109);
        height: 100%;
        color:white;
    }
}
